.course-top{
    margin-bottom: 50px;
    text-align: center;
}
.course-top h2{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.course-top p{
    color: var(--heading-color);
    font-size: 1rem;
    line-height: 28px;
}
.course-wrapper{
    background:linear-gradient(90deg,#b1aeae,27%, rgba(96, 95, 94, 0.877)85%);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    
    padding: 50px 23px;
}
.feature{
    color: #fff;
    text-align: justify;
    
}
.course-item{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 100%;
}
.course-icon{
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    background: #fff;
}
.course-icon img{
    width: 100%;
}
.course-content{
    width: 80%;
   
}
.course-content h4{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    /* font-weight: 500; */
    margin-bottom: 0.6rem;
    text-align: justify;
}
.course-content p{
    font-size: 1.5rem;
    color: #fff;
    text-align: justify;
}



@media screen and (max-width:2000px){
   
}


@media screen and (max-width:1150px){
   
    
}

@media screen and (max-width:650px){
    .course-top{
        text-align: start;
    }
    .course-top h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    

    .course-item{
        flex-direction: column;
        align-items: start;
    }

    
    .course-content h4{
        font-size: 1.5rem;
       
    }
    .course-content p{
        font-size: 1rem;
        
    }
    
    
    
    
}
    


